/* 1. إعدادات الصفحة كاملة */
body {
    background-color: rgb(77, 78, 2);    /* خلفية سوداء */
    color: blue;                /* كلام أزرق */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* زخرفة الخط ونوع خط أنيق */
}

/* 2. تكبير وزخرفة عناصر القائمة li */
li {
    font-size: 24px;            /* تكبير الخط */
    font-weight: bold;          /* جعل الخط عريض */
    color: red;                 /* جعل القائمة باللون الأحمر لتمييزها */
    margin-bottom: 10px;        /* ترك مسافة بين الأسطر لراحة العين */
    list-style-type: "◈ ";      /* زخرفة النقاط بشكل احترافي */
}

/* 3. زخرفة العناوين */
h1, h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.7); /* عمل ظل مضيء للكلام (Neon Effect) */
    text-decoration: underline; /* وضع خط تحت العنوان */
}
/* بنستهدف الزرار اللي جوه كلاس MADARA */
.MADARA button {
    width: 250px;           /* عرض الزرار */
    height: 70px;          /* طول الزرار */
    font-size: 20px;       /* تكبير حجم الخط */
    font-weight: bold;     /* خط عريض */
    background-color: #25d366; /* لون أخضر واتساب */
    color: white;          /* لون النص */
    border: none;          /* إزالة الإطار الافتراضي */
    border-radius: 10px;   /* زوايا دائرية */
    cursor: pointer;       /* يخلي الماوس شكل إيد لما يلمسه */
    transition: 0.3s;      /* نعومة في الحركة */
}

.MADARA button:hover {
    background-color: #128c7e; /* يغمق لونه لما تقف عليه */
    transform: scale(1.1);      /* يكبر حجمه شوية عند اللمس */
}
